.example-block {
  border: 1px solid black;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "first second third fourth";
  grid-template-columns: 70px 260px auto 201px;
}

.main-wrapper::after {
  content: "";
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  background-image: url(../img/background-image.jpg);
  background-size: 100%;
  background-size: cover;
  filter: blur(20px);
  z-index: -1;
}


.Chat-list { 
  grid-area: first;
}  

.Current { 
  grid-area: second; 
}

.Main { 
  grid-area: third; 
}

.Profile { 
  grid-area: fourth; 
}

h2 {
  margin: 0;
}

// .Chat-list,
// .Current,
// .Main,
// .Profile {
//   // height: 100vh;
//   // border: 1px solid black;
// }

.visually-hidden {
  display: none;
}
