@import "./var.scss";

.Chat-list {
    padding: 10px;
    padding-top: 30px;
    background-color: rgba(0,0,0, .5);
}

.Chat-item {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 50%;
    // background-color: rgba(255,255,255,.8);
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    
    &:hover,
    &:focus {
        background-color: rgba(255,255,255,.5);
        box-shadow: 0 0 3px white;
    }

    &:active {
        box-shadow: inset 0 0 4px black;
    }
}