.Chat-list {
    padding: 10px;
}

.Chat-item {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: blue;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}