@import "./var.scss";

.Current {
    background-color: rgba(0,0,0, .3);
    padding: 30px;
    padding-top: 30px;
    color: white;
}


h1 {
    margin: 0;
}

p {
    color: $blinkWhite;
    &:hover,
    &:focus {
        color: white
    }
}

.current__channel-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
       }
}

.current__friend-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
       }

}

.channel-items__item,
.friend-items__friend {
    cursor: pointer;
    color: $blinkWhite;
    margin-bottom: 5px;
    height: 27px;
    vertical-align: middle;
    padding-left: 8px;
    font-size: 16px;
    line-height: 26px;


    &:focus,
    &:hover {
        color: rgba(255,255,255, 1);
        border-radius: 3px;
        background-color: $blinkWhite;
    }

    &:active {
        box-shadow: inset 1px 1px 2px black;
    }

}

h4 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255,255,255, .7);

}