.Main {
    background-color: #F2F2F2;
    background-color: white;
}

.main-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 47px;
    padding-top: 32px;
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.main-header__current-chat {
    flex-grow: 1;
    margin: 0;
}

.main-header__people,
.main-header__current-chat,
.main-header__search,
.main-header__ring-btn,
.main-header__more-btn {
    margin-right: 10px;
}

.main-header__ring-btn,
.main-header__more-btn,

.new-messge-field__clip-btn,
.new-messge-field__voice-btn,
.new-messge-field__smile-btn {
    width: 42px;
    height: 25px;
    background-color: white;
    color: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;

    &:hover,
    &:focus {
        background-color: #ccc;
        color: grey;
        border-color: black;
    }
}

.chat-window {
    height: calc(100vh - 80px - 60px);
    border-bottom: 1px solid grey;
    overflow-y: auto;
}

.new-messge-field {
    display: flex;
    justify-content: flex-end;
    padding: 13px;
}

.new-messge-field__input {
    flex-grow: 1;
}

.new-messge-field__clip-btn,
.new-messge-field__voice-btn,
.new-messge-field__smile-btn, 
.new-messge-field__input {
    margin-right: 13px;
}

.new-messge-field__input {
    border: none;
    outline: none;


    &:hover,
    &:focus {
        border: 1px solid gray;
        box-shadow: 0 0 2px grey;

        border-radius: 5px;
    }

    &:active {
        outline: none;
        box-shadow: 0 0 2px black;
    }
}